In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import linregress
from IPython.display import display, Javascript
import re

%matplotlib widget
pd.options.display.max_columns = None

import warnings
warnings.filterwarnings('ignore')

# Study data files
ed_data = "data/acs_2020_s1501.csv"

# Read the mouse data and the study results
ed_data_raw = pd.read_csv(ed_data)

In [2]:
# Display the data tables for preview
ed_data_raw.head(20)

,Label (Grouping),RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone!!Bachelor's degree or higher,"RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone, not Hispanic or Latino","RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone, not Hispanic or Latino!!High school graduate or higher","RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!White alone, not Hispanic or Latino!!Bachelor's degree or higher",RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Black alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Black alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Black alone!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!American Indian or Alaska Native alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!American Indian or Alaska Native alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!American Indian or Alaska Native alone!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Asian alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Asian alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Asian alone!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Native Hawaiian and Other Pacific Islander alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Native Hawaiian and Other Pacific Islander alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Native Hawaiian and Other Pacific Islander alone!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Some other race alone,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Some other race alone!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Some other race alone!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Two or more races,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Two or more races!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Two or more races!!Bachelor's degree or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Hispanic or Latino Origin,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Hispanic or Latino Origin!!High school graduate or higher,RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT!!Hispanic or Latino Origin!!Bachelor's degree or higher
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,NaN,"1,016",993,905,867,867,779,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
3,Margin of Error,NaN,±203,±202,±192,±202,±202,±192,±13,±13,±13,±13,±13,±13,±68,±68,±68,±13,±13,±13,±22,±22,±22,±4,±4,±4,±131,±127,±127
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimate,NaN,(X),97.70%,89.10%,(X),100.00%,89.90%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),84.80%,84.80%
6,Margin of Error,NaN,(X),±3.5,±6.9,(X),±4.5,±7.5,(X),**,**,(X),**,**,(X),±44.8,±44.8,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±26.7,±26.7
7,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,NaN,463,440,406,370,370,336,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
9,Margin of Error,NaN,±143,±134,±124,±117,±117,±109,±13,±13,±13,±13,±13,±13,±36,±36,±36,±13,±13,±13,±22,±22,±22,±4,±4,±4,±79,±71,±71
10,Percent Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Estimate,NaN,(X),95.00%,87.70%,(X),100.00%,90.80%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),75.80%,75.80%
12,Margin of Error,NaN,(X),±7.3,±10.0,(X),±10.2,±8.7,(X),**,**,(X),**,**,(X),±100.0,±100.0,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±36.5,±36.5
13,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Estimate,NaN,553,553,499,497,497,443,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
15,Margin of Error,NaN,±143,±143,±138,±156,±156,±150,±13,±13,±13,±13,±13,±13,±48,±48,±48,±13,±13,±13,±13,±13,±13,±13,±13,±13,±56,±56,±56
16,Percent Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Estimate,NaN,(X),100.00%,90.20%,(X),100.00%,89.10%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),-,-,(X),-,-,(X),100.00%,100.00%
18,Margin of Error,NaN,(X),±7.0,±8.6,(X),±7.7,±9.5,(X),**,**,(X),**,**,(X),±45.6,±45.6,(X),**,**,(X),**,**,(X),**,**,(X),±44.0,±44.0
19,"Census Tract 1.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Rename column #1
ed_data_raw = ed_data_raw.rename(columns={"Label (Grouping)": "label"})

# Reduce length of labels for columns (educational data)
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("RACE AND HISPANIC OR LATINO ORIGIN BY EDUCATIONAL ATTAINMENT", ""))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!High school graduate or higher", "_hs"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Bachelor's degree or higher", "_col"))

# Reduce length of labels for columns (race data)
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!White alone", "white"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("white, not Hispanic or Latino", "white-nonhisp"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!American Indian or Alaska Native alone", "aian"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Black alone", "black"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Native Hawaiian and Other Pacific Islander alone", "nhpi"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Asian alone", "asian"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Some other race alone", "other"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Two or more races", "multi"))
ed_data_raw.columns = ed_data_raw.columns.map(lambda x: x.replace("!!Hispanic or Latino Origin", "hisp"))

# Display the updated data table
ed_data_raw.head(10)

,label,,white,white_hs,white_col,white-nonhisp,white-nonhisp_hs,white-nonhisp_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,NaN,"1,016",993,905,867,867,779,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
3,Margin of Error,NaN,±203,±202,±192,±202,±202,±192,±13,±13,±13,±13,±13,±13,±68,±68,±68,±13,±13,±13,±22,±22,±22,±4,±4,±4,±131,±127,±127
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimate,NaN,(X),97.70%,89.10%,(X),100.00%,89.90%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),84.80%,84.80%
6,Margin of Error,NaN,(X),±3.5,±6.9,(X),±4.5,±7.5,(X),**,**,(X),**,**,(X),±44.8,±44.8,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±26.7,±26.7
7,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,NaN,463,440,406,370,370,336,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
9,Margin of Error,NaN,±143,±134,±124,±117,±117,±109,±13,±13,±13,±13,±13,±13,±36,±36,±36,±13,±13,±13,±22,±22,±22,±4,±4,±4,±79,±71,±71

In [4]:
# Iterate through all the rows in the table to clean the "label" column and remove any additonal spaces retained from CSV
length = ed_data_raw.shape[0]
for i in range(length):
    ed_data_raw["label"].iloc[i] = ed_data_raw["label"].iloc[i].strip()

# Display the updated data table
ed_data_raw.head(10)

,label,,white,white_hs,white_col,white-nonhisp,white-nonhisp_hs,white-nonhisp_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Estimate,NaN,"1,016",993,905,867,867,779,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
3,Margin of Error,NaN,±203,±202,±192,±202,±202,±192,±13,±13,±13,±13,±13,±13,±68,±68,±68,±13,±13,±13,±22,±22,±22,±4,±4,±4,±131,±127,±127
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Estimate,NaN,(X),97.70%,89.10%,(X),100.00%,89.90%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),84.80%,84.80%
6,Margin of Error,NaN,(X),±3.5,±6.9,(X),±4.5,±7.5,(X),**,**,(X),**,**,(X),±44.8,±44.8,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±26.7,±26.7
7,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Estimate,NaN,463,440,406,370,370,336,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
9,Margin of Error,NaN,±143,±134,±124,±117,±117,±109,±13,±13,±13,±13,±13,±13,±36,±36,±36,±13,±13,±13,±22,±22,±22,±4,±4,±4,±79,±71,±71

In [5]:
# Iterate through all the rows in the table to rename the "Estimate" rows with unique values under each census tract
for i in range(length):
    if ed_data_raw["label"].iloc[i] == "Estimate":
        ed_data_raw["label"].iloc[i] = "Pop_" + ed_data_raw["label"].iloc[i-1]

# Display the updated data table
ed_data_raw.head(20)

,label,,white,white_hs,white_col,white-nonhisp,white-nonhisp_hs,white-nonhisp_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,NaN,"1,016",993,905,867,867,779,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
3,Margin of Error,NaN,±203,±202,±192,±202,±202,±192,±13,±13,±13,±13,±13,±13,±68,±68,±68,±13,±13,±13,±22,±22,±22,±4,±4,±4,±131,±127,±127
4,Percent,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Pop_Percent,NaN,(X),97.70%,89.10%,(X),100.00%,89.90%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),84.80%,84.80%
6,Margin of Error,NaN,(X),±3.5,±6.9,(X),±4.5,±7.5,(X),**,**,(X),**,**,(X),±44.8,±44.8,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±26.7,±26.7
7,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Pop_Male,NaN,463,440,406,370,370,336,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
9,Margin of Error,NaN,±143,±134,±124,±117,±117,±109,±13,±13,±13,±13,±13,±13,±36,±36,±36,±13,±13,±13,±22,±22,±22,±4,±4,±4,±79,±71,±71
10,Percent Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Pop_Percent Male,NaN,(X),95.00%,87.70%,(X),100.00%,90.80%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),100.00%,100.00%,(X),100.00%,100.00%,(X),75.80%,75.80%
12,Margin of Error,NaN,(X),±7.3,±10.0,(X),±10.2,±8.7,(X),**,**,(X),**,**,(X),±100.0,±100.0,(X),**,**,(X),±87.9,±87.9,(X),±100.0,±100.0,(X),±36.5,±36.5
13,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Pop_Female,NaN,553,553,499,497,497,443,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
15,Margin of Error,NaN,±143,±143,±138,±156,±156,±150,±13,±13,±13,±13,±13,±13,±48,±48,±48,±13,±13,±13,±13,±13,±13,±13,±13,±13,±56,±56,±56
16,Percent Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Pop_Percent Female,NaN,(X),100.00%,90.20%,(X),100.00%,89.10%,(X),-,-,(X),-,-,(X),100.00%,100.00%,(X),-,-,(X),-,-,(X),-,-,(X),100.00%,100.00%
18,Margin of Error,NaN,(X),±7.0,±8.6,(X),±7.7,±9.5,(X),**,**,(X),**,**,(X),±45.6,±45.6,(X),**,**,(X),**,**,(X),**,**,(X),±44.0,±44.0
19,"Census Tract 1.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Delete any rows that contain the query text
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.contains('Margin of Error')]
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.contains('Percent')]

# Delete any rows that start with the query text
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.startswith('Total')]
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.startswith('Male')]
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.startswith('Female')]

# Delete unneeded columns corresponding to White Non-Hispanic
ed_data_raw.drop(['white-nonhisp', 'white-nonhisp_hs', 'white-nonhisp_col'], axis=1, inplace=True)

# Display the updated data table
ed_data_raw.head(20)

,label,,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,NaN,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,NaN,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,NaN,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
19,"Census Tract 1.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Pop_Total,NaN,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,NaN,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,NaN,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
38,"Census Tract 2.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pop_Total,NaN,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,NaN,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,NaN,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
57,"Census Tract 2.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Pop_Total,NaN,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,NaN,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,NaN,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
76,"Census Tract 3, District of Columbia, District...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Pop_Total,NaN,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,NaN,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,NaN,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212

In [7]:
# Rename column #2
ed_data_raw = ed_data_raw.rename(columns={ed_data_raw.columns[1]: "tract"})

# Display the updated data table
ed_data_raw.head(20)

,label,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,NaN,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,NaN,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,NaN,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
19,"Census Tract 1.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Pop_Total,NaN,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,NaN,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,NaN,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
38,"Census Tract 2.01, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pop_Total,NaN,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,NaN,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,NaN,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
57,"Census Tract 2.02, District of Columbia, Distr...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Pop_Total,NaN,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,NaN,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,NaN,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
76,"Census Tract 3, District of Columbia, District...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Pop_Total,NaN,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,NaN,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,NaN,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212

In [8]:
# Iterate through all the rows in the table to extract the census tract number and add it to the "tract" column
for index, row in ed_data_raw.iterrows():
    if row[0].startswith('Census'):
        text = row[0]
        tract = float(''.join(re.findall('[0-9]*\.?[0-9]*', text)))
        tract = tract * 100
        ed_data_raw.loc[index, "tract"] = tract

# Display the updated data table
ed_data_raw.head(20)

,label,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,NaN,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,NaN,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,NaN,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
19,"Census Tract 1.02, District of Columbia, Distr...",102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Pop_Total,NaN,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,NaN,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,NaN,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
38,"Census Tract 2.01, District of Columbia, Distr...",201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pop_Total,NaN,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,NaN,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,NaN,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
57,"Census Tract 2.02, District of Columbia, Distr...",202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Pop_Total,NaN,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,NaN,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,NaN,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
76,"Census Tract 3, District of Columbia, District...",300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Pop_Total,NaN,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,NaN,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,NaN,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212

In [9]:
ed_data_raw.loc[:,"tract"] = ed_data_raw.loc[:,"tract"].ffill()

# Display the updated data table
ed_data_raw.head(20)

,label,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",101.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,101.0,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,101.0,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,101.0,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
19,"Census Tract 1.02, District of Columbia, Distr...",102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Pop_Total,102.0,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,102.0,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,102.0,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
38,"Census Tract 2.01, District of Columbia, Distr...",201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pop_Total,201.0,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,201.0,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,201.0,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
57,"Census Tract 2.02, District of Columbia, Distr...",202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Pop_Total,202.0,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,202.0,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,202.0,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
76,"Census Tract 3, District of Columbia, District...",300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Pop_Total,300.0,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,300.0,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,300.0,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212

In [10]:
ed_data_raw["tract"] = ed_data_raw["tract"].astype(int)

# Display the updated data table
ed_data_raw.head(20)

,label,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
0,"Census Tract 1.01, District of Columbia, Distr...",101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Pop_Total,101,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,101,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,101,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
19,"Census Tract 1.02, District of Columbia, Distr...",102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Pop_Total,102,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,102,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,102,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
38,"Census Tract 2.01, District of Columbia, Distr...",200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,Pop_Total,200,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,200,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,200,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
57,"Census Tract 2.02, District of Columbia, Distr...",202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Pop_Total,202,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,202,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,202,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
76,"Census Tract 3, District of Columbia, District...",300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,Pop_Total,300,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,300,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,300,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212

In [11]:
# Delete any rows that start with the query text
ed_data_raw = ed_data_raw[~ed_data_raw["label"].str.startswith('Census')]

# Display the updated data table
ed_data_raw.head(20)

,label,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
2,Pop_Total,101,"1,016",993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
8,Pop_Male,101,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
14,Pop_Female,101,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
21,Pop_Total,102,"2,519","2,501","2,317",34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
27,Pop_Male,102,"1,345","1,345","1,200",0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
33,Pop_Female,102,"1,174","1,156","1,117",34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
40,Pop_Total,200,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
46,Pop_Male,200,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
52,Pop_Female,200,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
59,Pop_Total,202,"2,684","2,669","2,356",47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
65,Pop_Male,202,"1,091","1,091","1,003",29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
71,Pop_Female,202,"1,593","1,578","1,353",18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
78,Pop_Total,300,"3,768","3,768","3,519",111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
84,Pop_Male,300,"1,829","1,829","1,663",63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
90,Pop_Female,300,"1,939","1,939","1,856",48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212
97,Pop_Total,400,807,728,665,32,28,14,0,0,0,285,277,260,0,0,0,5,4,4,42,42,36,157,77,63
103,Pop_Male,400,308,308,283,25,21,7,0,0,0,72,72,64,0,0,0,2,2,2,28,28,28,48,48,48
109,Pop_Female,400,499,420,382,7,7,7,0,0,0,213,205,196,0,0,0,3,2,2,14,14,8,109,29,15
116,Pop_Total,501,"2,155","2,155","2,012",233,197,146,0,0,0,359,359,305,0,0,0,19,18,18,168,168,168,176,175,146
122,Pop_Male,501,"1,059","1,059","1,018",95,59,16,0,0,0,241,241,241,0,0,0,17,16,16,15,15,15,148,147,118

In [12]:
# Review dtypes in each column; note, right now most are "objects" that do not allow for calculation
ed_data_raw.dtypes

label        object
tract         int64
white        object
white_hs     object
white_col    object
black        object
black_hs     object
black_col    object
aian         object
aian_hs      object
aian_col     object
asian        object
asian_hs     object
asian_col    object
nhpi         object
nhpi_hs      object
nhpi_col     object
other        object
other_hs     object
other_col    object
multi        object
multi_hs     object
multi_col    object
hisp         object
hisp_hs      object
hisp_col     object
dtype: object

In [13]:
# Reset index
ed_data_raw = ed_data_raw.set_index(["label"])

# Apply regex in place to remove commas from all values
ed_data_raw = ed_data_raw.replace(',','', regex=True)

# Convert all dtypes from object to int64 to allow for calucation
ed_data_raw = ed_data_raw.apply(pd.to_numeric, errors='coerce')

# Display the updated data table
ed_data_raw.head(20)

,tract,white,white_hs,white_col,black,black_hs,black_col,aian,aian_hs,aian_col,asian,asian_hs,asian_col,nhpi,nhpi_hs,nhpi_col,other,other_hs,other_col,multi,multi_hs,multi_col,hisp,hisp_hs,hisp_col
label,,,,,,,,,,,,,,,,,,,,,,,,,
Pop_Total,101,1016,993,905,0,0,0,0,0,0,54,54,54,0,0,0,14,14,14,2,2,2,151,128,128
Pop_Male,101,463,440,406,0,0,0,0,0,0,2,2,2,0,0,0,14,14,14,2,2,2,95,72,72
Pop_Female,101,553,553,499,0,0,0,0,0,0,52,52,52,0,0,0,0,0,0,0,0,0,56,56,56
Pop_Total,102,2519,2501,2317,34,34,16,0,0,0,118,97,87,0,0,0,147,134,134,94,94,94,332,301,265
Pop_Male,102,1345,1345,1200,0,0,0,0,0,0,19,19,9,0,0,0,57,57,57,84,84,84,209,209,173
Pop_Female,102,1174,1156,1117,34,34,16,0,0,0,99,78,78,0,0,0,90,77,77,10,10,10,123,92,92
Pop_Total,200,48,48,44,9,9,0,0,0,0,30,30,30,0,0,0,0,0,0,0,0,0,8,8,8
Pop_Male,200,48,48,44,2,2,0,0,0,0,6,6,6,0,0,0,0,0,0,0,0,0,8,8,8
Pop_Female,200,0,0,0,7,7,0,0,0,0,24,24,24,0,0,0,0,0,0,0,0,0,0,0,0
Pop_Total,202,2684,2669,2356,47,47,18,0,0,0,112,112,112,18,18,18,81,81,81,12,12,12,175,175,175
Pop_Male,202,1091,1091,1003,29,29,0,0,0,0,54,54,54,0,0,0,81,81,81,0,0,0,103,103,103
Pop_Female,202,1593,1578,1353,18,18,18,0,0,0,58,58,58,18,18,18,0,0,0,12,12,12,72,72,72
Pop_Total,300,3768,3768,3519,111,111,18,0,0,0,301,297,266,0,0,0,38,38,38,163,163,163,421,421,421
Pop_Male,300,1829,1829,1663,63,63,0,0,0,0,158,154,154,0,0,0,19,19,19,74,74,74,209,209,209
Pop_Female,300,1939,1939,1856,48,48,18,0,0,0,143,143,112,0,0,0,19,19,19,89,89,89,212,212,212
Pop_Total,400,807,728,665,32,28,14,0,0,0,285,277,260,0,0,0,5,4,4,42,42,36,157,77,63
Pop_Male,400,308,308,283,25,21,7,0,0,0,72,72,64,0,0,0,2,2,2,28,28,28,48,48,48
Pop_Female,400,499,420,382,7,7,7,0,0,0,213,205,196,0,0,0,3,2,2,14,14,8,109,29,15
Pop_Total,501,2155,2155,2012,233,197,146,0,0,0,359,359,305,0,0,0,19,18,18,168,168,168,176,175,146
Pop_Male,501,1059,1059,1018,95,59,16,0,0,0,241,241,241,0,0,0,17,16,16,15,15,15,148,147,118

In [14]:
# Review dtypes in each column; note, now all are "int64" which allows for calculation
ed_data_raw.dtypes

tract        int64
white        int64
white_hs     int64
white_col    int64
black        int64
black_hs     int64
black_col    int64
aian         int64
aian_hs      int64
aian_col     int64
asian        int64
asian_hs     int64
asian_col    int64
nhpi         int64
nhpi_hs      int64
nhpi_col     int64
other        int64
other_hs     int64
other_col    int64
multi        int64
multi_hs     int64
multi_col    int64
hisp         int64
hisp_hs      int64
hisp_col     int64
dtype: object

In [15]:
# Calculate number of individauls from each group who have less than a high school education and insert as columns into table
ed_data_raw.insert(2, 'white_no', ed_data_raw["white"] - ed_data_raw["white_hs"])
ed_data_raw.insert(6, 'black_no', ed_data_raw["black"] - ed_data_raw["black_hs"])
ed_data_raw.insert(10, 'aian_no', ed_data_raw["aian"] - ed_data_raw["aian_hs"])
ed_data_raw.insert(14, 'asian_no', ed_data_raw["asian"] - ed_data_raw["asian_hs"])
ed_data_raw.insert(18, 'nhpi_no', ed_data_raw["nhpi"] - ed_data_raw["nhpi_hs"])
ed_data_raw.insert(22, 'other_no', ed_data_raw["other"] - ed_data_raw["other_hs"])
ed_data_raw.insert(26, 'multi_no', ed_data_raw["multi"] - ed_data_raw["multi_hs"])
ed_data_raw.insert(30, 'hisp_no', ed_data_raw["hisp"] - ed_data_raw["hisp_hs"])

# Display the updated data table
ed_data_raw.head(20)

,tract,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
label,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Pop_Total,101,1016,23,993,905,0,0,0,0,0,0,0,0,54,0,54,54,0,0,0,0,14,0,14,14,2,0,2,2,151,23,128,128
Pop_Male,101,463,23,440,406,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,0,14,0,14,14,2,0,2,2,95,23,72,72
Pop_Female,101,553,0,553,499,0,0,0,0,0,0,0,0,52,0,52,52,0,0,0,0,0,0,0,0,0,0,0,0,56,0,56,56
Pop_Total,102,2519,18,2501,2317,34,0,34,16,0,0,0,0,118,21,97,87,0,0,0,0,147,13,134,134,94,0,94,94,332,31,301,265
Pop_Male,102,1345,0,1345,1200,0,0,0,0,0,0,0,0,19,0,19,9,0,0,0,0,57,0,57,57,84,0,84,84,209,0,209,173
Pop_Female,102,1174,18,1156,1117,34,0,34,16,0,0,0,0,99,21,78,78,0,0,0,0,90,13,77,77,10,0,10,10,123,31,92,92
Pop_Total,200,48,0,48,44,9,0,9,0,0,0,0,0,30,0,30,30,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
Pop_Male,200,48,0,48,44,2,0,2,0,0,0,0,0,6,0,6,6,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
Pop_Female,200,0,0,0,0,7,0,7,0,0,0,0,0,24,0,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Pop_Total,202,2684,15,2669,2356,47,0,47,18,0,0,0,0,112,0,112,112,18,0,18,18,81,0,81,81,12,0,12,12,175,0,175,175
Pop_Male,202,1091,0,1091,1003,29,0,29,0,0,0,0,0,54,0,54,54,0,0,0,0,81,0,81,81,0,0,0,0,103,0,103,103
Pop_Female,202,1593,15,1578,1353,18,0,18,18,0,0,0,0,58,0,58,58,18,0,18,18,0,0,0,0,12,0,12,12,72,0,72,72
Pop_Total,300,3768,0,3768,3519,111,0,111,18,0,0,0,0,301,4,297,266,0,0,0,0,38,0,38,38,163,0,163,163,421,0,421,421
Pop_Male,300,1829,0,1829,1663,63,0,63,0,0,0,0,0,158,4,154,154,0,0,0,0,19,0,19,19,74,0,74,74,209,0,209,209
Pop_Female,300,1939,0,1939,1856,48,0,48,18,0,0,0,0,143,0,143,112,0,0,0,0,19,0,19,19,89,0,89,89,212,0,212,212
Pop_Total,400,807,79,728,665,32,4,28,14,0,0,0,0,285,8,277,260,0,0,0,0,5,1,4,4,42,0,42,36,157,80,77,63
Pop_Male,400,308,0,308,283,25,4,21,7,0,0,0,0,72,0,72,64,0,0,0,0,2,0,2,2,28,0,28,28,48,0,48,48
Pop_Female,400,499,79,420,382,7,0,7,7,0,0,0,0,213,8,205,196,0,0,0,0,3,1,2,2,14,0,14,8,109,80,29,15
Pop_Total,501,2155,0,2155,2012,233,36,197,146,0,0,0,0,359,0,359,305,0,0,0,0,19,1,18,18,168,0,168,168,176,1,175,146
Pop_Male,501,1059,0,1059,1018,95,36,59,16,0,0,0,0,241,0,241,241,0,0,0,0,17,1,16,16,15,0,15,15,148,1,147,118

In [16]:
# Calculate total number of individauls from all groups by educational attainment and insert into table
ed_data_raw.insert(1, 'all', ed_data_raw["white"] + ed_data_raw["black"] + ed_data_raw["aian"] + ed_data_raw["asian"] +
                   ed_data_raw["nhpi"] + ed_data_raw["other"] + ed_data_raw["multi"] + ed_data_raw["hisp"])

ed_data_raw.insert(2, 'all_no', ed_data_raw["white_no"] + ed_data_raw["black_no"] + ed_data_raw["aian_no"] + ed_data_raw["asian_no"] +
                   ed_data_raw["nhpi_no"] + ed_data_raw["other_no"] + ed_data_raw["multi_no"] + ed_data_raw["hisp_no"])

ed_data_raw.insert(3, 'all_hs', ed_data_raw["white_hs"] + ed_data_raw["black_hs"] + ed_data_raw["aian_hs"] + ed_data_raw["asian_hs"] +
                   ed_data_raw["nhpi_hs"] + ed_data_raw["other_hs"] + ed_data_raw["multi_hs"] + ed_data_raw["hisp_hs"])

ed_data_raw.insert(4, 'all_col', ed_data_raw["white_col"] + ed_data_raw["black_col"] + ed_data_raw["aian_col"] + ed_data_raw["asian_col"] +
                   ed_data_raw["nhpi_col"] + ed_data_raw["other_col"] + ed_data_raw["multi_col"] + ed_data_raw["hisp_col"])

# Display the updated data table
ed_data_raw.head(20)

,tract,all,all_no,all_hs,all_col,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
label,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Pop_Total,101,1237,46,1191,1103,1016,23,993,905,0,0,0,0,0,0,0,0,54,0,54,54,0,0,0,0,14,0,14,14,2,0,2,2,151,23,128,128
Pop_Male,101,576,46,530,496,463,23,440,406,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,0,14,0,14,14,2,0,2,2,95,23,72,72
Pop_Female,101,661,0,661,607,553,0,553,499,0,0,0,0,0,0,0,0,52,0,52,52,0,0,0,0,0,0,0,0,0,0,0,0,56,0,56,56
Pop_Total,102,3244,83,3161,2913,2519,18,2501,2317,34,0,34,16,0,0,0,0,118,21,97,87,0,0,0,0,147,13,134,134,94,0,94,94,332,31,301,265
Pop_Male,102,1714,0,1714,1523,1345,0,1345,1200,0,0,0,0,0,0,0,0,19,0,19,9,0,0,0,0,57,0,57,57,84,0,84,84,209,0,209,173
Pop_Female,102,1530,83,1447,1390,1174,18,1156,1117,34,0,34,16,0,0,0,0,99,21,78,78,0,0,0,0,90,13,77,77,10,0,10,10,123,31,92,92
Pop_Total,200,95,0,95,82,48,0,48,44,9,0,9,0,0,0,0,0,30,0,30,30,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
Pop_Male,200,64,0,64,58,48,0,48,44,2,0,2,0,0,0,0,0,6,0,6,6,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
Pop_Female,200,31,0,31,24,0,0,0,0,7,0,7,0,0,0,0,0,24,0,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Pop_Total,202,3129,15,3114,2772,2684,15,2669,2356,47,0,47,18,0,0,0,0,112,0,112,112,18,0,18,18,81,0,81,81,12,0,12,12,175,0,175,175
Pop_Male,202,1358,0,1358,1241,1091,0,1091,1003,29,0,29,0,0,0,0,0,54,0,54,54,0,0,0,0,81,0,81,81,0,0,0,0,103,0,103,103
Pop_Female,202,1771,15,1756,1531,1593,15,1578,1353,18,0,18,18,0,0,0,0,58,0,58,58,18,0,18,18,0,0,0,0,12,0,12,12,72,0,72,72
Pop_Total,300,4802,4,4798,4425,3768,0,3768,3519,111,0,111,18,0,0,0,0,301,4,297,266,0,0,0,0,38,0,38,38,163,0,163,163,421,0,421,421
Pop_Male,300,2352,4,2348,2119,1829,0,1829,1663,63,0,63,0,0,0,0,0,158,4,154,154,0,0,0,0,19,0,19,19,74,0,74,74,209,0,209,209
Pop_Female,300,2450,0,2450,2306,1939,0,1939,1856,48,0,48,18,0,0,0,0,143,0,143,112,0,0,0,0,19,0,19,19,89,0,89,89,212,0,212,212
Pop_Total,400,1328,172,1156,1042,807,79,728,665,32,4,28,14,0,0,0,0,285,8,277,260,0,0,0,0,5,1,4,4,42,0,42,36,157,80,77,63
Pop_Male,400,483,4,479,432,308,0,308,283,25,4,21,7,0,0,0,0,72,0,72,64,0,0,0,0,2,0,2,2,28,0,28,28,48,0,48,48
Pop_Female,400,845,168,677,610,499,79,420,382,7,0,7,7,0,0,0,0,213,8,205,196,0,0,0,0,3,1,2,2,14,0,14,8,109,80,29,15
Pop_Total,501,3110,38,3072,2795,2155,0,2155,2012,233,36,197,146,0,0,0,0,359,0,359,305,0,0,0,0,19,1,18,18,168,0,168,168,176,1,175,146
Pop_Male,501,1575,38,1537,1424,1059,0,1059,1018,95,36,59,16,0,0,0,0,241,0,241,241,0,0,0,0,17,1,16,16,15,0,15,15,148,1,147,118

In [17]:
# Reset index
ed_data_raw = ed_data_raw.reset_index()

# Display the updated data table
ed_data_raw.head(20)

,label,tract,all,all_no,all_hs,all_col,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
0,Pop_Total,101,1237,46,1191,1103,1016,23,993,905,0,0,0,0,0,0,0,0,54,0,54,54,0,0,0,0,14,0,14,14,2,0,2,2,151,23,128,128
1,Pop_Male,101,576,46,530,496,463,23,440,406,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,0,14,0,14,14,2,0,2,2,95,23,72,72
2,Pop_Female,101,661,0,661,607,553,0,553,499,0,0,0,0,0,0,0,0,52,0,52,52,0,0,0,0,0,0,0,0,0,0,0,0,56,0,56,56
3,Pop_Total,102,3244,83,3161,2913,2519,18,2501,2317,34,0,34,16,0,0,0,0,118,21,97,87,0,0,0,0,147,13,134,134,94,0,94,94,332,31,301,265
4,Pop_Male,102,1714,0,1714,1523,1345,0,1345,1200,0,0,0,0,0,0,0,0,19,0,19,9,0,0,0,0,57,0,57,57,84,0,84,84,209,0,209,173
5,Pop_Female,102,1530,83,1447,1390,1174,18,1156,1117,34,0,34,16,0,0,0,0,99,21,78,78,0,0,0,0,90,13,77,77,10,0,10,10,123,31,92,92
6,Pop_Total,200,95,0,95,82,48,0,48,44,9,0,9,0,0,0,0,0,30,0,30,30,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
7,Pop_Male,200,64,0,64,58,48,0,48,44,2,0,2,0,0,0,0,0,6,0,6,6,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
8,Pop_Female,200,31,0,31,24,0,0,0,0,7,0,7,0,0,0,0,0,24,0,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
9,Pop_Total,202,3129,15,3114,2772,2684,15,2669,2356,47,0,47,18,0,0,0,0,112,0,112,112,18,0,18,18,81,0,81,81,12,0,12,12,175,0,175,175
10,Pop_Male,202,1358,0,1358,1241,1091,0,1091,1003,29,0,29,0,0,0,0,0,54,0,54,54,0,0,0,0,81,0,81,81,0,0,0,0,103,0,103,103
11,Pop_Female,202,1771,15,1756,1531,1593,15,1578,1353,18,0,18,18,0,0,0,0,58,0,58,58,18,0,18,18,0,0,0,0,12,0,12,12,72,0,72,72
12,Pop_Total,300,4802,4,4798,4425,3768,0,3768,3519,111,0,111,18,0,0,0,0,301,4,297,266,0,0,0,0,38,0,38,38,163,0,163,163,421,0,421,421
13,Pop_Male,300,2352,4,2348,2119,1829,0,1829,1663,63,0,63,0,0,0,0,0,158,4,154,154,0,0,0,0,19,0,19,19,74,0,74,74,209,0,209,209
14,Pop_Female,300,2450,0,2450,2306,1939,0,1939,1856,48,0,48,18,0,0,0,0,143,0,143,112,0,0,0,0,19,0,19,19,89,0,89,89,212,0,212,212
15,Pop_Total,400,1328,172,1156,1042,807,79,728,665,32,4,28,14,0,0,0,0,285,8,277,260,0,0,0,0,5,1,4,4,42,0,42,36,157,80,77,63
16,Pop_Male,400,483,4,479,432,308,0,308,283,25,4,21,7,0,0,0,0,72,0,72,64,0,0,0,0,2,0,2,2,28,0,28,28,48,0,48,48
17,Pop_Female,400,845,168,677,610,499,79,420,382,7,0,7,7,0,0,0,0,213,8,205,196,0,0,0,0,3,1,2,2,14,0,14,8,109,80,29,15
18,Pop_Total,501,3110,38,3072,2795,2155,0,2155,2012,233,36,197,146,0,0,0,0,359,0,359,305,0,0,0,0,19,1,18,18,168,0,168,168,176,1,175,146
19,Pop_Male,501,1575,38,1537,1424,1059,0,1059,1018,95,36,59,16,0,0,0,0,241,0,241,241,0,0,0,0,17,1,16,16,15,0,15,15,148,1,147,118

In [18]:
# Create copy of table
total_pop = ed_data_raw.copy()

# Delete any unneeded rows
total_pop = total_pop[~total_pop["label"].str.startswith('Pop_Male')]
total_pop = total_pop[~total_pop["label"].str.startswith('Pop_Female')]

# Reset index
total_pop = total_pop.reset_index(drop=True)

# Delete label column
total_pop.drop(['label'], axis=1, inplace=True)

# Export to csv
total_pop.to_csv('data/total_pop_data.csv', index=True)

# Display the total data table
total_pop.head(20)

,tract,all,all_no,all_hs,all_col,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
0,101,1237,46,1191,1103,1016,23,993,905,0,0,0,0,0,0,0,0,54,0,54,54,0,0,0,0,14,0,14,14,2,0,2,2,151,23,128,128
1,102,3244,83,3161,2913,2519,18,2501,2317,34,0,34,16,0,0,0,0,118,21,97,87,0,0,0,0,147,13,134,134,94,0,94,94,332,31,301,265
2,200,95,0,95,82,48,0,48,44,9,0,9,0,0,0,0,0,30,0,30,30,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
3,202,3129,15,3114,2772,2684,15,2669,2356,47,0,47,18,0,0,0,0,112,0,112,112,18,0,18,18,81,0,81,81,12,0,12,12,175,0,175,175
4,300,4802,4,4798,4425,3768,0,3768,3519,111,0,111,18,0,0,0,0,301,4,297,266,0,0,0,0,38,0,38,38,163,0,163,163,421,0,421,421
5,400,1328,172,1156,1042,807,79,728,665,32,4,28,14,0,0,0,0,285,8,277,260,0,0,0,0,5,1,4,4,42,0,42,36,157,80,77,63
6,501,3110,38,3072,2795,2155,0,2155,2012,233,36,197,146,0,0,0,0,359,0,359,305,0,0,0,0,19,1,18,18,168,0,168,168,176,1,175,146
7,501,3145,42,3103,2680,2252,0,2252,2049,151,12,139,82,44,0,44,44,94,0,94,94,0,0,0,0,89,15,74,46,136,0,136,119,379,15,364,246
8,600,3970,233,3737,3195,2827,37,2790,2624,411,132,279,39,0,0,0,0,223,0,223,223,0,0,0,0,66,20,46,46,111,12,99,62,332,32,300,201
9,702,2975,162,2813,2342,1979,85,1894,1713,322,26,296,92,15,0,15,0,134,0,134,119,0,0,0,0,21,0,21,21,237,0,237,217,267,51,216,180
10,703,3107,43,3064,2492,2144,0,2144,1841,457,23,434,417,40,0,40,0,42,0,42,42,0,0,0,0,0,0,0,0,186,20,166,79,238,0,238,113
11,704,2068,49,2019,1790,1572,49,1523,1335,84,0,84,63,0,0,0,0,330,0,330,330,0,0,0,0,0,0,0,0,27,0,27,27,55,0,55,35
12,802,2995,14,2981,2671,2171,7,2164,1876,200,0,200,189,0,0,0,0,165,0,165,165,0,0,0,0,53,0,53,53,151,0,151,151,255,7,248,237
13,802,1929,0,1929,1823,1322,0,1322,1255,93,0,93,80,0,0,0,0,232,0,232,232,0,0,0,0,32,0,32,32,76,0,76,50,174,0,174,174
14,803,2421,0,2421,2136,1984,0,1984,1806,103,0,103,102,0,0,0,0,161,0,161,72,0,0,0,0,11,0,11,11,48,0,48,48,114,0,114,97
15,902,1859,60,1799,1558,1513,43,1470,1331,55,1,54,40,0,0,0,0,66,0,66,63,0,0,0,0,3,0,3,0,37,0,37,28,185,16,169,96
16,902,835,0,835,765,672,0,672,640,47,0,47,22,0,0,0,0,25,0,25,12,0,0,0,0,0,0,0,0,19,0,19,19,72,0,72,72
17,903,2429,74,2355,2109,1932,10,1922,1784,126,0,126,90,0,0,0,0,80,0,80,57,0,0,0,0,45,27,18,0,42,0,42,42,204,37,167,136
18,1002,2772,201,2571,2447,1977,107,1870,1818,180,0,180,163,0,0,0,0,187,0,187,154,0,0,0,0,13,0,13,13,148,0,148,148,267,94,173,151
19,1002,2223,4,2219,1908,1897,4,1893,1582,19,0,19,19,0,0,0,0,119,0,119,119,0,0,0,0,48,0,48,48,9,0,9,9,131,0,131,131

In [19]:
# Create copy of table
male_pop = ed_data_raw.copy()

# Delete any unneeded rows
male_pop = male_pop[~male_pop["label"].str.startswith('Pop_Total')]
male_pop = male_pop[~male_pop["label"].str.startswith('Pop_Female')]

# Reset index
male_pop = male_pop.reset_index(drop=True)

# Delete label column
male_pop.drop(['label'], axis=1, inplace=True)

# Export to csv
male_pop.to_csv('data/male_pop_data.csv', index=False)

# Display the total data table
male_pop.head(20)

,tract,all,all_no,all_hs,all_col,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
0,101,576,46,530,496,463,23,440,406,0,0,0,0,0,0,0,0,2,0,2,2,0,0,0,0,14,0,14,14,2,0,2,2,95,23,72,72
1,102,1714,0,1714,1523,1345,0,1345,1200,0,0,0,0,0,0,0,0,19,0,19,9,0,0,0,0,57,0,57,57,84,0,84,84,209,0,209,173
2,200,64,0,64,58,48,0,48,44,2,0,2,0,0,0,0,0,6,0,6,6,0,0,0,0,0,0,0,0,0,0,0,0,8,0,8,8
3,202,1358,0,1358,1241,1091,0,1091,1003,29,0,29,0,0,0,0,0,54,0,54,54,0,0,0,0,81,0,81,81,0,0,0,0,103,0,103,103
4,300,2352,4,2348,2119,1829,0,1829,1663,63,0,63,0,0,0,0,0,158,4,154,154,0,0,0,0,19,0,19,19,74,0,74,74,209,0,209,209
5,400,483,4,479,432,308,0,308,283,25,4,21,7,0,0,0,0,72,0,72,64,0,0,0,0,2,0,2,2,28,0,28,28,48,0,48,48
6,501,1575,38,1537,1424,1059,0,1059,1018,95,36,59,16,0,0,0,0,241,0,241,241,0,0,0,0,17,1,16,16,15,0,15,15,148,1,147,118
7,501,1436,24,1412,1240,1015,0,1015,969,96,12,84,45,16,0,16,16,36,0,36,36,0,0,0,0,45,6,39,17,42,0,42,25,186,6,180,132
8,600,1582,159,1423,1204,1233,37,1196,1116,173,104,69,0,0,0,0,0,31,0,31,31,0,0,0,0,9,9,0,0,61,0,61,40,75,9,66,17
9,702,1183,124,1059,884,843,73,770,672,89,0,89,27,0,0,0,0,57,0,57,42,0,0,0,0,0,0,0,0,122,0,122,122,72,51,21,21
10,703,1475,0,1475,1102,930,0,930,826,209,0,209,192,40,0,40,0,16,0,16,16,0,0,0,0,0,0,0,0,106,0,106,19,174,0,174,49
11,704,903,0,903,747,662,0,662,546,77,0,77,56,0,0,0,0,127,0,127,127,0,0,0,0,0,0,0,0,0,0,0,0,37,0,37,18
12,802,1438,0,1438,1268,1178,0,1178,1008,105,0,105,105,0,0,0,0,36,0,36,36,0,0,0,0,0,0,0,0,43,0,43,43,76,0,76,76
13,802,647,0,647,647,529,0,529,529,11,0,11,11,0,0,0,0,92,0,92,92,0,0,0,0,0,0,0,0,0,0,0,0,15,0,15,15
14,803,1144,0,1144,976,1006,0,1006,855,34,0,34,34,0,0,0,0,19,0,19,19,0,0,0,0,0,0,0,0,22,0,22,22,63,0,63,46
15,902,895,0,895,734,743,0,743,648,28,0,28,25,0,0,0,0,0,0,0,0,0,0,0,0,3,0,3,0,31,0,31,28,90,0,90,33
16,902,333,0,333,327,283,0,283,277,5,0,5,5,0,0,0,0,12,0,12,12,0,0,0,0,0,0,0,0,11,0,11,11,22,0,22,22
17,903,1101,0,1101,1035,934,0,934,904,92,0,92,56,0,0,0,0,30,0,30,30,0,0,0,0,0,0,0,0,3,0,3,3,42,0,42,42
18,1002,1130,115,1015,979,820,64,756,737,92,0,92,75,0,0,0,0,58,0,58,58,0,0,0,0,0,0,0,0,69,0,69,69,91,51,40,40
19,1002,1123,0,1123,936,950,0,950,763,0,0,0,0,0,0,0,0,38,0,38,38,0,0,0,0,42,0,42,42,0,0,0,0,93,0,93,93

In [20]:
# Create copy of table
female_pop = ed_data_raw.copy()

# Delete any unneeded rows
female_pop = female_pop[~female_pop["label"].str.startswith('Pop_Total')]
female_pop = female_pop[~female_pop["label"].str.startswith('Pop_Male')]

# Reset index
female_pop = female_pop.reset_index(drop=True)

# Delete label column
female_pop.drop(['label'], axis=1, inplace=True)

# Export to csv
female_pop.to_csv('data/female_pop_data.csv', index=False)

# Display the total data table
female_pop.head(20)

,tract,all,all_no,all_hs,all_col,white,white_no,white_hs,white_col,black,black_no,black_hs,black_col,aian,aian_no,aian_hs,aian_col,asian,asian_no,asian_hs,asian_col,nhpi,nhpi_no,nhpi_hs,nhpi_col,other,other_no,other_hs,other_col,multi,multi_no,multi_hs,multi_col,hisp,hisp_no,hisp_hs,hisp_col
0,101,661,0,661,607,553,0,553,499,0,0,0,0,0,0,0,0,52,0,52,52,0,0,0,0,0,0,0,0,0,0,0,0,56,0,56,56
1,102,1530,83,1447,1390,1174,18,1156,1117,34,0,34,16,0,0,0,0,99,21,78,78,0,0,0,0,90,13,77,77,10,0,10,10,123,31,92,92
2,200,31,0,31,24,0,0,0,0,7,0,7,0,0,0,0,0,24,0,24,24,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,202,1771,15,1756,1531,1593,15,1578,1353,18,0,18,18,0,0,0,0,58,0,58,58,18,0,18,18,0,0,0,0,12,0,12,12,72,0,72,72
4,300,2450,0,2450,2306,1939,0,1939,1856,48,0,48,18,0,0,0,0,143,0,143,112,0,0,0,0,19,0,19,19,89,0,89,89,212,0,212,212
5,400,845,168,677,610,499,79,420,382,7,0,7,7,0,0,0,0,213,8,205,196,0,0,0,0,3,1,2,2,14,0,14,8,109,80,29,15
6,501,1535,0,1535,1371,1096,0,1096,994,138,0,138,130,0,0,0,0,118,0,118,64,0,0,0,0,2,0,2,2,153,0,153,153,28,0,28,28
7,501,1709,18,1691,1440,1237,0,1237,1080,55,0,55,37,28,0,28,28,58,0,58,58,0,0,0,0,44,9,35,29,94,0,94,94,193,9,184,114
8,600,2388,74,2314,1991,1594,0,1594,1508,238,28,210,39,0,0,0,0,192,0,192,192,0,0,0,0,57,11,46,46,50,12,38,22,257,23,234,184
9,702,1792,38,1754,1458,1136,12,1124,1041,233,26,207,65,15,0,15,0,77,0,77,77,0,0,0,0,21,0,21,21,115,0,115,95,195,0,195,159
10,703,1632,43,1589,1390,1214,0,1214,1015,248,23,225,225,0,0,0,0,26,0,26,26,0,0,0,0,0,0,0,0,80,20,60,60,64,0,64,64
11,704,1165,49,1116,1043,910,49,861,789,7,0,7,7,0,0,0,0,203,0,203,203,0,0,0,0,0,0,0,0,27,0,27,27,18,0,18,17
12,802,1557,14,1543,1403,993,7,986,868,95,0,95,84,0,0,0,0,129,0,129,129,0,0,0,0,53,0,53,53,108,0,108,108,179,7,172,161
13,802,1282,0,1282,1176,793,0,793,726,82,0,82,69,0,0,0,0,140,0,140,140,0,0,0,0,32,0,32,32,76,0,76,50,159,0,159,159
14,803,1277,0,1277,1160,978,0,978,951,69,0,69,68,0,0,0,0,142,0,142,53,0,0,0,0,11,0,11,11,26,0,26,26,51,0,51,51
15,902,964,60,904,824,770,43,727,683,27,1,26,15,0,0,0,0,66,0,66,63,0,0,0,0,0,0,0,0,6,0,6,0,95,16,79,63
16,902,502,0,502,438,389,0,389,363,42,0,42,17,0,0,0,0,13,0,13,0,0,0,0,0,0,0,0,0,8,0,8,8,50,0,50,50
17,903,1328,74,1254,1074,998,10,988,880,34,0,34,34,0,0,0,0,50,0,50,27,0,0,0,0,45,27,18,0,39,0,39,39,162,37,125,94
18,1002,1642,86,1556,1468,1157,43,1114,1081,88,0,88,88,0,0,0,0,129,0,129,96,0,0,0,0,13,0,13,13,79,0,79,79,176,43,133,111
19,1002,1100,4,1096,972,947,4,943,819,19,0,19,19,0,0,0,0,81,0,81,81,0,0,0,0,6,0,6,6,9,0,9,9,38,0,38,38

In [21]:
#text = "Census Tract 13.02, District of Columbia, District of Columbia"

#tract = ''.join(re.findall('[0-9]*\.?[0-9]*', text))

#print(tract)