In [1]:
import pandas as pd

In [2]:
# Creating a file path to conduct manipulation
file_path = '/Users/faisaldernawi/Desktop/Training_And_Development/GW_Bootcamp/Homework/Project_3/Data/Crime/Unrefined/Crime_Incidents_in_2020.csv'

In [3]:
# Loading the CSV file into a Pandas Dataframe
crime_data = pd.read_csv(file_path)

In [4]:
# Displaying the Dataframe
crime_data.head()

,X,Y,CCN,REPORT_DAT,SHIFT,METHOD,OFFENSE,BLOCK,XBLOCK,YBLOCK,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,LATITUDE,LONGITUDE,BID,START_DATE,END_DATE,OBJECTID,OCTO_RECORD_ID
0,401276.0,138113.0,20000634,2020/01/02 02:20:49+00,EVENING,KNIFE,ASSAULT W/DANGEROUS WEAPON,1800 - 1899 BLOCK OF WEST VIRGINIA AVENUE NE,401276.0,138113.0,...,008803 1,8803.0,Precinct 76,38.910878,-76.985288,NaN,2020/01/02 00:08:23+00,2020/01/02 02:10:56+00,635094812,NaN
1,399555.0,141585.0,20032518,2020/02/23 03:46:01+00,EVENING,GUN,ROBBERY,100 - 199 BLOCK OF URELL PLACE NE,399555.0,141585.0,...,009510 3,9510.0,Precinct 44,38.942156,-77.005133,NaN,2020/02/23 01:39:42+00,NaN,635094844,NaN
2,396171.0,137945.0,20070984,2020/05/13 00:54:59+00,EVENING,OTHERS,THEFT/OTHER,1 - 7 BLOCK OF DUPONT CIRCLE NW,396171.0,137945.0,...,005502 3,5502.0,Precinct 14,38.909358,-77.044147,DUPONT CIRCLE,2020/05/12 18:22:11+00,2020/05/12 18:23:40+00,635094845,NaN
3,398477.0,137319.0,20072939,2020/05/16 17:20:33+00,DAY,OTHERS,ASSAULT W/DANGEROUS WEAPON,400 - 497 BLOCK OF L STREET NW,398477.0,137319.0,...,004703 2,4703.0,Precinct 1,38.903725,-77.017558,MOUNT VERNON TRIANGLE CID,2020/05/16 16:24:46+00,2020/05/16 17:20:43+00,635094846,NaN
4,403654.0,133385.0,20024920,2020/02/10 19:37:22+00,DAY,OTHERS,THEFT F/AUTO,3300 - 3345 BLOCK OF PENNSYLVANIA AVENUE SE,403654.0,133385.0,...,009901 2,9901.0,Precinct 109,38.868280,-76.957895,NaN,2020/02/10 17:00:58+00,2020/02/10 19:20:01+00,635094850,NaN

In [9]:
# Creating group of columns to keep
columns_to_keep = ['OFFENSE', 'LATITUDE', 'LONGITUDE', 'CENSUS_TRACT']

In [10]:
# Dropping the rest of the columns that are redundant or not needed
crime_data_cleaned = crime_data[columns_to_keep]

In [11]:
# Displaying the dataframe 
crime_data_cleaned

                          OFFENSE   LATITUDE  LONGITUDE  CENSUS_TRACT
0      ASSAULT W/DANGEROUS WEAPON  38.910878 -76.985288        8803.0
1                         ROBBERY  38.942156 -77.005133        9510.0
2                     THEFT/OTHER  38.909358 -77.044147        5502.0
3      ASSAULT W/DANGEROUS WEAPON  38.903725 -77.017558        4703.0
4                    THEFT F/AUTO  38.868280 -76.957895        9901.0
...                           ...        ...        ...           ...
27926                THEFT F/AUTO  38.953316 -77.093483        1003.0
27927                    BURGLARY  38.900195 -76.989279        8410.0
27928                 THEFT/OTHER  38.891117 -76.938597        9603.0
27929                 THEFT/OTHER  38.930887 -76.996183        9201.0
27930                 THEFT/OTHER  38.913718 -77.043435        4202.0

[27931 rows x 4 columns]